body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(to right , #6a11cb, #2575fc);
  color: #fff;
}

.mainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.tableBox{
    background-color: #fff;
}

.activeLink{
    opacity: 1 !important;
}

.headerBox{
    height: 80px;
}

.navLink li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    opacity: .5;
    cursor: pointer;
}

.navLink li:hover{
    opacity: 1 !important;
}

.navLink li i {
    font-size: 1.5rem;
}

.alarmBox{
    background-color: rgba(255, 255, 255, .3);
    border-radius: 10px;
}

.displayContainer{
    height: 300px;
    
}


input[type=time] {
    border: none;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    background-color: transparent;
  }
 input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    border: none;
    outline: none;
}

