body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(to right , #6a11cb, #2575fc);
  color: #fff;
}

.mainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.tableBox{
    background-color: #fff;
}

.activeLink{
    opacity: 1 !important;
}

.headerBox{
    height: 80px;
}

.navLink li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    opacity: .5;
    cursor: pointer;
}

.navLink li:hover{
    opacity: 1 !important;
}

.navLink li i {
    font-size: 1.5rem;
}


.displayContainer{
    height: 150px;
    
}

.stopwatchDisplay{
    font-size: 3rem;
    font-weight: bold;
}

.buttons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}