.btnMS {
    font-size: 0.8rem !important;
    font-weight: 700;
}

#listinput {
    background-color: transparent;
}


.auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.formBox {
    min-width: 250px;
    max-width: 320px;
    width: 80%;
}


.profile{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 50%;
}
.profile img{
    width: 100%;
}

.pr-img{
    width: 120px;
    height: 120px;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 50%;
}
.pr-img img{
    width: 100%;
}